In [477]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

# Memberi Header

In [478]:
header = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style","drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight", "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [479]:
df = pd.read_csv("imports-85.csv", names=header)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Jumlah baris dan kolom

In [480]:
df.shape

(205, 26)

# Melihat jumlah tiap tipe data

In [481]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

# Melihat nilai unik fuel-type

In [482]:
df["fuel-type"].unique()

array(['gas', 'diesel'], dtype=object)

# Mengganti nilai ? menjadi nan

In [483]:
df.replace("?", np.nan, inplace = True)
print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            3               NaN  alfa-romero       gas        std
1            3               NaN  alfa-romero       gas        std
2            1               NaN  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

# Melihat nilai null

In [484]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [485]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Mengganti nilai missing dengan Mean untuk Numerik dan Modus untuk String

In [486]:
df["normalized-losses"].replace(np.nan, df["normalized-losses"].astype("float").mean(axis=0), inplace=True)
df["num-of-doors"].replace(np.nan, "four", inplace=True)
df["bore"].replace(np.nan, df["bore"].astype("float").mean(axis=0), inplace=True)
df["stroke"].replace(np.nan, df["stroke"].astype("float").mean(axis=0), inplace=True)
df["horsepower"].replace(np.nan, df["horsepower"].astype("float").mean(axis=0), inplace=True)
df["peak-rpm"].replace(np.nan, df["peak-rpm"].astype("float").mean(axis=0), inplace=True)

In [487]:
df = df.dropna()

# Mengganti tipe data missing value object menjadi float64

In [488]:
df['normalized-losses'] = df['normalized-losses'].astype("float")
df['bore'] = df['bore'].astype("float")
df['stroke'] = df['stroke'].astype("float")
df['horsepower'] = df['horsepower'].astype("float")
df['peak-rpm'] = df['peak-rpm'].astype("float")
df['price'] = df['price'].astype("float")

In [489]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [490]:
df["num-of-doors"].value_counts()

four    115
two      86
Name: num-of-doors, dtype: int64

# Mengecek nilai null masih ada atau tidak

In [491]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

# Melihat tipe data tiap kolom untuk dihitung pertipe data

In [492]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

# Mean highway-mpg

In [493]:
df["highway-mpg"].mean()

30.686567164179106

# Masukan fitur dan label

In [494]:
X = df[["highway-mpg"]]
y = df["price"]

# Splitting Data

In [495]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((160, 1), (41, 1), (160,), (41,))

# Fitting Data dengan Linear Regression

In [496]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [497]:
lr.intercept_

38423.3058581574

Nilai intercept = 38423.3058581574

In [498]:
lr.coef_

array([-821.73337832])

Nilai coef = -821.73337832

# Menghitung R2 dan MSE

In [499]:
from sklearn.metrics import r2_score, mean_squared_error

print("R2:", r2_score(y_test, lr.predict(X_test)))
print("MSE:", mean_squared_error(y_test, lr.predict(X_test)))

R2: 0.47816589174399016
MSE: 39539522.68423496

# Prediksi 25

In [500]:
print("Prediksi 25: ", lr.coef_ * 25 + lr.intercept_)

Prediksi 25:  [17879.97140011]

# Prediksi 28

In [501]:
print("Prediksi 28: ", lr.coef_ * 28 + lr.intercept_)

Prediksi 28:  [15414.77126514]

In [502]:
lr.predict([[25]])

array([17879.97140011])

In [503]:
lr.predict([[28]])

array([15414.77126514])

Ternyata dengan fungsi predict sama saja

# Normalisasi dengan MinMax Scaler

In [504]:
from sklearn.preprocessing import MinMaxScaler

numeric = ["normalized-losses", "wheel-base", "length", "width", 'height', 'curb-weight', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'engine-size', 'city-mpg', 'highway-mpg']

scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX = scaler.fit_transform(df[numeric])

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# Encode yang tidak numerik

In [505]:
from sklearn.preprocessing import LabelEncoder

df["symboling"] = LabelEncoder().fit_transform(df["symboling"])
df["make"] = LabelEncoder().fit_transform(df["make"])
df["num-of-doors"] = LabelEncoder().fit_transform(df["num-of-doors"])
df["fuel-type"] = LabelEncoder().fit_transform(df["fuel-type"])
df["aspiration"] = LabelEncoder().fit_transform(df["aspiration"])
df["body-style"] = LabelEncoder().fit_transform(df["body-style"])
df["drive-wheels"] = LabelEncoder().fit_transform(df["drive-wheels"])
df["engine-location"] = LabelEncoder().fit_transform(df["engine-location"])
df["engine-type"] = LabelEncoder().fit_transform(df["engine-type"])
df["fuel-system"] = LabelEncoder().fit_transform(df["fuel-system"])
df["num-of-cylinders"] = LabelEncoder().fit_transform(df["num-of-cylinders"])

In [506]:
X = df.drop(columns=["price"])
y = df["price"]

# Splitting Data

In [507]:
X_train = rescaledX[:-50, :]
y_train = y[:-50]

X_test = rescaledX[-50:, :]
y_test = y[-50:]

In [508]:
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(activation='logistic', solver='lbfgs', hidden_layer_sizes=(2, 10), random_state=0)
mlp.fit(X_train, y_train)

MLPRegressor(activation='logistic', hidden_layer_sizes=(2, 10), random_state=0,
             solver='lbfgs')

In [509]:
from sklearn.metrics import mean_squared_error, r2_score

mean_squared_error(y_train, mlp.predict(X_train))

76958800.05064015

In [510]:
r2_score(y_train, mlp.predict(X_train))

-1.1765921570372484e-11

In [511]:
mean_squared_error(y_test, mlp.predict(X_test))

20788181.99561774

In [512]:
r2_score(y_test, mlp.predict(X_test))

-0.12642053567026323